body, html {height: 100%;}

.wrapper {box-sizing: border-box; height: 100%; overflow: auto; }


a {text-decoration: none; color: #333; border-bottom: 3px solid #0068FF;}
a:hover {color: #333444}
p {font-weight: 200; font-size: 20px;}

.name {font-family: Montserrat; font-size: 85px; text-transform: uppercase; font-weight: 900; padding: 22px; border: 14px dashed #0068FF; color: #333444; display: inline-block; position: absolute; margin-bottom: 60px; top: 30px; left: 60px;}

.container {font-family: Montserrat; font-size: 22px; text-transform: uppercase; font-weight: 900; padding: 1px; border: 2px dashed #0068FF; color: #333444; display: inline-block; position: absolute; margin-bottom: 60px; top: 250px; left: 60px;}
article {padding: 20px;}

hr {border-bottom: 3px solid #0068FF;}

.meta {text-transform: uppercase; font-family: Arial, Courier New, Source Sans Pro, sans-serif; font-size: 20px; letter-spacing: .15em;}
.meta a:hover {color: #333333;}

.inline-list {list-style: none; margin: 0; padding: 0;}
.inline-list li {display: inline-block;}

footer .inline-list li {margin-right: 40px;}
footer a {border: none; color: #0068FF;}
footer {margin: 0 auto; position: absolute; bottom: 55%; right: -255px; padding: 40px 0 0 0; width: 600px; -webkit-transform: rotate(-90deg);}